<a href="https://colab.research.google.com/github/tiwary0411/CodeDemo/blob/my_branch_1/Web_Scraping_using_Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

## üéâ Hi there! Welcome to today's assignment on Web Scraping in Python!

Are you ready to put your skills to the test? Let's dive right in! üí™üìö

In this assignment, you will be working with scraping websites using Python . Don't worry if you're feeling a bit unsure - you got this! ü§û

Good luck! üçÄüöÄ

## **Activity 1:**

### **GitHub trending repos:**

You are tasked to scrape the top 10 trending repositories of Python on GitHub (https://github.com/trending/python?since=daily). Perform the following actions based on the data:

1. Retrieve the name of the repository, the username of the owner, and the URL of the repository.
2. Store the information in a CSV file named "python_trending_repos.csv".
3. Print the information in a tabular format using the PrettyTable library.

In [ ]:
url = 'https://github.com/trending/python?since=daily'
response = requests.get(url)
print(response.text)

In [ ]:
soup = BeautifulSoup(response.text, "html.parser")

In [ ]:
s = soup.find_all("h2", attrs = {"class":"h3 lh-condensed"})
s[0].text.replace("\n","").strip()

'CASIA-IVA-Lab /      FastSAM'

In [ ]:
s[0].find("a").get('href')

'/CASIA-IVA-Lab/FastSAM'

In [ ]:
lst = []
for i in s:
  lst.append({"Owner/Repo Name": i.text.replace("\n","").strip() , "URL" : "https://github.com" + i.find("a").get('href')})
print(lst)

[{'Owner/Repo Name': 'CASIA-IVA-Lab /      FastSAM', 'URL': 'https://github.com/CASIA-IVA-Lab/FastSAM'}, {'Owner/Repo Name': 'Stability-AI /      generative-models', 'URL': 'https://github.com/Stability-AI/generative-models'}, {'Owner/Repo Name': 'Stability-AI /      stablediffusion', 'URL': 'https://github.com/Stability-AI/stablediffusion'}, {'Owner/Repo Name': 'embedchain /      embedchain', 'URL': 'https://github.com/embedchain/embedchain'}, {'Owner/Repo Name': 'XingangPan /      DragGAN', 'URL': 'https://github.com/XingangPan/DragGAN'}, {'Owner/Repo Name': 'SizheAn /      PanoHead', 'URL': 'https://github.com/SizheAn/PanoHead'}, {'Owner/Repo Name': 'xtekky /      gpt4free', 'URL': 'https://github.com/xtekky/gpt4free'}, {'Owner/Repo Name': 'unifyai /      ivy', 'URL': 'https://github.com/unifyai/ivy'}, {'Owner/Repo Name': 'Rapptz /      discord.py', 'URL': 'https://github.com/Rapptz/discord.py'}, {'Owner/Repo Name': 'THUDM /      ChatGLM-6B', 'URL': 'https://github.com/THUDM/ChatGLM-6B'}, {'Owner/Repo Name': 'open-mmlab /      mmdetection', 'URL': 'https://github.com/open-mmlab/mmdetection'}, {'Owner/Repo Name': 'microsoft /      DeepSpeed', 'URL': 'https://github.com/microsoft/DeepSpeed'}, {'Owner/Repo Name': 'OpenDriveLab /      UniAD', 'URL': 'https://github.com/OpenDriveLab/UniAD'}, {'Owner/Repo Name': 'imartinez /      privateGPT', 'URL': 'https://github.com/imartinez/privateGPT'}, {'Owner/Repo Name': 'h2oai /      h2o-llmstudio', 'URL': 'https://github.com/h2oai/h2o-llmstudio'}, {'Owner/Repo Name': 'ramonvc /      freegpt-webui', 'URL': 'https://github.com/ramonvc/freegpt-webui'}, {'Owner/Repo Name': 'THUDM /      WebGLM', 'URL': 'https://github.com/THUDM/WebGLM'}, {'Owner/Repo Name': 's0md3v /      sd-webui-roop', 'URL': 'https://github.com/s0md3v/sd-webui-roop'}, {'Owner/Repo Name': 'THUDM /      VisualGLM-6B', 'URL': 'https://github.com/THUDM/VisualGLM-6B'}, {'Owner/Repo Name': 'vllm-project /      vllm', 'URL': 'https://github.com/vllm-project/vllm'}, {'Owner/Repo Name': 'donnemartin /      system-design-primer', 'URL': 'https://github.com/donnemartin/system-design-primer'}, {'Owner/Repo Name': 'Zeqiang-Lai /      DragGAN', 'URL': 'https://github.com/Zeqiang-Lai/DragGAN'}, {'Owner/Repo Name': 'open-mmlab /      mmdetection3d', 'URL': 'https://github.com/open-mmlab/mmdetection3d'}, {'Owner/Repo Name': 'GaiZhenbiao /      ChuanhuChatGPT', 'URL': 'https://github.com/GaiZhenbiao/ChuanhuChatGPT'}, {'Owner/Repo Name': 'oobabooga /      text-generation-webui', 'URL': 'https://github.com/oobabooga/text-generation-webui'}]

In [ ]:
df = pd.DataFrame(lst)

In [ ]:
df

,Owner/Repo Name,URL
0,CASIA-IVA-Lab / FastSAM,https://github.com/CASIA-IVA-Lab/FastSAM
1,Stability-AI / generative-models,https://github.com/Stability-AI/generative-models
2,Stability-AI / stablediffusion,https://github.com/Stability-AI/stablediffusion
3,embedchain / embedchain,https://github.com/embedchain/embedchain
4,XingangPan / DragGAN,https://github.com/XingangPan/DragGAN
5,SizheAn / PanoHead,https://github.com/SizheAn/PanoHead
6,xtekky / gpt4free,https://github.com/xtekky/gpt4free
7,unifyai / ivy,https://github.com/unifyai/ivy
8,Rapptz / discord.py,https://github.com/Rapptz/discord.py
9,THUDM / ChatGLM-6B,https://github.com/THUDM/ChatGLM-6B
10,open-mmlab / mmdetection,https://github.com/open-mmlab/mmdetection
11,microsoft / DeepSpeed,https://github.com/microsoft/DeepSpeed
12,OpenDriveLab / UniAD,https://github.com/OpenDriveLab/UniAD
13,imartinez / privateGPT,https://github.com/imartinez/privateGPT
14,h2oai / h2o-llmstudio,https://github.com/h2oai/h2o-llmstudio
15,ramonvc / freegpt-webui,https://github.com/ramonvc/freegpt-webui
16,THUDM / WebGLM,https://github.com/THUDM/WebGLM
17,s0md3v / sd-webui-roop,https://github.com/s0md3v/sd-webui-roop
18,THUDM / VisualGLM-6B,https://github.com/THUDM/VisualGLM-6B
19,vllm-project / vllm,https://github.com/vllm-project/vllm
20,donnemartin / system-design-primer,https://github.com/donnemartin/system-design-p...
21,Zeqiang-Lai / DragGAN,https://github.com/Zeqiang-Lai/DragGAN
22,open-mmlab / mmdetection3d,https://github.com/open-mmlab/mmdetection3d
23,GaiZhenbiao / ChuanhuChatGPT,https://github.com/GaiZhenbiao/ChuanhuChatGPT
24,oobabooga / text-generation-webui,https://github.com/oobabooga/text-generation-w...

## **Activity 2:**

### **IMDB Movies:**

Your task is to scrape the top 10 movies currently playing in theaters in the United States from the website https://www.imdb.com/chart/top/.

Perform the following actions based on the data:

1. Extract movie titles: Extract the title of each movie and store it in a list.

2. Extract movie release year: Extract the release year of each movie and store it in a separate list.

3. Extract movie ratings: Extract the rating of each movie and store it in a separate list.

4. Export the data: Export the extracted data into a CSV file named "top_movies.csv".

In [ ]:
# Downloading imdb top 250 movie's data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)

In [ ]:
print(response.text)

In [ ]:
soup = BeautifulSoup(response.text, "html.parser")
all_movies = soup.select('td.titleColumn')

In [ ]:
title = [a.text for a in soup.select('td.titleColumn a')]
year = [s.text for s in soup.select('td.titleColumn span')]
rating = [r.text for r in soup.select('td.ratingColumn strong')]

In [ ]:
lst = []
for i in range(10):
  lst.append({'Movie': title[i], 'Year': year[i], 'Rating': rating[i]})
print(lst)

[{'Movie': 'The Shawshank Redemption', 'Year': '(1994)', 'Rating': '9.2'}, {'Movie': 'The Godfather', 'Year': '(1972)', 'Rating': '9.2'}, {'Movie': 'The Dark Knight', 'Year': '(2008)', 'Rating': '9.0'}, {'Movie': 'The Godfather Part II', 'Year': '(1974)', 'Rating': '9.0'}, {'Movie': '12 Angry Men', 'Year': '(1957)', 'Rating': '9.0'}, {'Movie': "Schindler's List", 'Year': '(1993)', 'Rating': '8.9'}, {'Movie': 'The Lord of the Rings: The Return of the King', 'Year': '(2003)', 'Rating': '8.9'}, {'Movie': 'Pulp Fiction', 'Year': '(1994)', 'Rating': '8.8'}, {'Movie': 'The Lord of the Rings: The Fellowship of the Ring', 'Year': '(2001)', 'Rating': '8.8'}, {'Movie': 'The Good, the Bad and the Ugly', 'Year': '(1966)', 'Rating': '8.8'}]

In [ ]:
df = pd.DataFrame(lst)
df

                                               Movie    Year Rating
0                           The Shawshank Redemption  (1994)    9.2
1                                      The Godfather  (1972)    9.2
2                                    The Dark Knight  (2008)    9.0
3                              The Godfather Part II  (1974)    9.0
4                                       12 Angry Men  (1957)    9.0
5                                   Schindler's List  (1993)    8.9
6      The Lord of the Rings: The Return of the King  (2003)    8.9
7                                       Pulp Fiction  (1994)    8.8
8  The Lord of the Rings: The Fellowship of the Ring  (2001)    8.8
9                     The Good, the Bad and the Ugly  (1966)    8.8

## **Activity 3:**

### **Covid-19 Cases:**

You are required to scrape the website https://www.worldometers.info/coronavirus/ to get the latest updates on COVID-19 cases worldwide.

1. Extract the Total Cases, Total Deaths, Total Recovered, and Active Cases data for all countries.

2. Save the data in a CSV file with appropriate column names and make sure to remove any commas or non-numeric characters from the data.

3. Clean the data to remove any missing values or inconsistencies. If there are any missing values, fill them appropriately.

4. Visualize the data using appropriate graphs and charts.

Note: Please make sure to be respectful of the website's terms of use and do not scrape any website that prohibits web scraping.

In [ ]:
# Downloading imdb top 250 movie's data
url = 'https://www.worldometers.info/coronavirus/'
response = requests.get(url)

In [ ]:
print(response.text)

In [ ]:
soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
#tr = soup.find_all("tr", attrs={"style": ""})

tr = soup.find("tbody").find_all("tr", attrs={"style": ""})
len(tr)

212

In [ ]:
table = []
for t in tr[2:-2]:
  td = t.find_all("td")
  country = td[1].text
  total_cases = td[2].text
  total_deaths = td[4].text
  total_recovered = td[6].text
  active_cases = td[8].text
  table.append({"Country": country, "Total Cases": total_cases, "Total Deaths": total_deaths, "Total Recovered": total_recovered, "Active Cases": active_cases})

print(table)

[{'Country': 'India', 'Total Cases': '44,993,999', 'Total Deaths': '531,903                                ', 'Total Recovered': '44,460,441', 'Active Cases': '1,655'}, {'Country': 'France', 'Total Cases': '40,133,307', 'Total Deaths': '167,616                                ', 'Total Recovered': '39,931,240', 'Active Cases': '34,451'}, {'Country': 'Germany', 'Total Cases': '38,428,685', 'Total Deaths': '174,352                                ', 'Total Recovered': '38,240,600', 'Active Cases': '13,733'}, {'Country': 'Brazil', 'Total Cases': '37,655,917', 'Total Deaths': '703,719                                ', 'Total Recovered': '36,249,161', 'Active Cases': '703,037'}, {'Country': 'Japan', 'Total Cases': '33,803,572', 'Total Deaths': '74,694                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'S. Korea', 'Total Cases': '32,131,606', 'Total Deaths': '35,017                                ', 'Total Recovered': '31,830,947', 'Active Cases': '265,642'}, {'Country': 'Italy', 'Total Cases': '25,893,101', 'Total Deaths': '190,782                                ', 'Total Recovered': '25,587,953', 'Active Cases': '114,366'}, {'Country': 'Russia', 'Total Cases': '22,953,409', 'Total Deaths': '399,436                                ', 'Total Recovered': '22,395,145', 'Active Cases': '158,828'}, {'Country': 'Turkey', 'Total Cases': '17,232,066', 'Total Deaths': '102,174                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'Spain', 'Total Cases': '13,905,048', 'Total Deaths': '121,622                                ', 'Total Recovered': '13,740,203', 'Active Cases': '43,223'}, {'Country': 'Australia', 'Total Cases': '11,690,064', 'Total Deaths': '21,612                                ', 'Total Recovered': '11,637,174', 'Active Cases': '31,278'}, {'Country': 'Vietnam', 'Total Cases': '11,620,189', 'Total Deaths': '43,206                                ', 'Total Recovered': '10,639,986', 'Active Cases': '936,997'}, {'Country': 'Argentina', 'Total Cases': '10,056,300', 'Total Deaths': '130,514                                ', 'Total Recovered': '9,925,280', 'Active Cases': '506'}, {'Country': 'Mexico', 'Total Cases': '7,631,061', 'Total Deaths': '334,292                                ', 'Total Recovered': '6,883,373', 'Active Cases': '413,396'}, {'Country': 'Iran', 'Total Cases': '7,612,414', 'Total Deaths': '146,292                                ', 'Total Recovered': '7,368,688', 'Active Cases': '97,434'}, {'Country': 'Indonesia', 'Total Cases': '6,811,818', 'Total Deaths': '161,867                                ', 'Total Recovered': '6,641,019', 'Active Cases': '8,932'}, {'Country': 'Poland', 'Total Cases': '6,517,771', 'Total Deaths': '119,624                                ', 'Total Recovered': '5,335,940', 'Active Cases': '1,062,207'}, {'Country': 'Colombia', 'Total Cases': '6,369,916', 'Total Deaths': '142,780                                ', 'Total Recovered': '6,190,683', 'Active Cases': '36,453'}, {'Country': 'Greece', 'Total Cases': '6,101,379', 'Total Deaths': '37,089                                ', 'Total Recovered': '6,058,261', 'Active Cases': '6,029'}, {'Country': 'Austria', 'Total Cases': '6,080,914', 'Total Deaths': '22,534                                ', 'Total Recovered': '6,054,458', 'Active Cases': '3,922'}, {'Country': 'Portugal', 'Total Cases': '5,592,410', 'Total Deaths': '26,885                                ', 'Total Recovered': '5,561,425', 'Active Cases': '4,100'}, {'Country': 'Ukraine', 'Total Cases': '5,557,995', 'Total Deaths': '112,418                                ', 'Total Recovered': '5,443,612', 'Active Cases': '1,965'}, {'Country': 'Chile', 'Total Cases': '5,288,214', 'Total Deaths': '64,497                                ', 'Total Recovered': '5,223,657', 'Active Cases': '60'}, {'Country': 'Malaysia', 'Total Cases': '5,112,019', 'Total Deaths': '37,118                                ', 'Total Recovered': '5,057,145', 'Active Cases': '17,756'}, {'Country': 'Israel', 'Total Cases': '4,828,123', 'Total Deaths': '12,557                                ', 'Total Recovered': '4,798,473', 'Active Cases': '17,093'}, {'Country': 'Belgium', 'Total Cases': '4,801,523', 'Total Deaths': '34,372                                ', 'Total Recovered': '4,764,735', 'Active Cases': '2,416'}, {'Country': 'Thailand', 'Total Cases': '4,751,563', 'Total Deaths': '34,328                                ', 'Total Recovered': '4,692,636', 'Active Cases': '24,599'}, {'Country': 'Canada', 'Total Cases': '4,686,867', 'Total Deaths': '52,804                                ', 'Total Recovered': '4,623,557', 'Active Cases': '10,506'}, {'Country': 'Czechia', 'Total Cases': '4,642,679', 'Total Deaths': '42,809                                ', 'Total Recovered': '4,599,572', 'Active Cases': '298'}, {'Country': 'Switzerland', 'Total Cases': '4,406,809', 'Total Deaths': '14,452                                ', 'Total Recovered': '4,390,981', 'Active Cases': '1,376'}, {'Country': 'Philippines', 'Total Cases': '4,163,175', 'Total Deaths': '66,482                                ', 'Total Recovered': '4,088,660', 'Active Cases': '8,033'}, {'Country': 'South Africa', 'Total Cases': '4,076,463', 'Total Deaths': '102,595                                ', 'Total Recovered': '3,912,506', 'Active Cases': '61,362'}, {'Country': 'Romania', 'Total Cases': '3,407,485', 'Total Deaths': '68,233                                ', 'Total Recovered': '3,336,982', 'Active Cases': '2,270'}, {'Country': 'Denmark', 'Total Cases': '3,182,235', 'Total Deaths': '8,747                                ', 'Total Recovered': '3,173,334', 'Active Cases': '154'}, {'Country': 'Hong Kong', 'Total Cases': '2,911,141', 'Total Deaths': '13,819                                ', 'Total Recovered': '2,886,106', 'Active Cases': '11,216'}, {'Country': 'Sweden', 'Total Cases': '2,712,104', 'Total Deaths': '24,513                                ', 'Total Recovered': '2,686,074', 'Active Cases': '1,517'}, {'Country': 'Serbia', 'Total Cases': '2,543,720', 'Total Deaths': '18,057                                ', 'Total Recovered': '2,524,431', 'Active Cases': '1,232'}, {'Country': 'Singapore', 'Total Cases': '2,481,404', 'Total Deaths': '1,727                                ', 'Total Recovered': '2,149,583', 'Active Cases': '330,094'}, {'Country': 'Iraq', 'Total Cases': '2,465,545', 'Total Deaths': '25,375                                ', 'Total Recovered': '2,439,497', 'Active Cases': '673'}, {'Country': 'New Zealand', 'Total Cases': '2,413,279', 'Total Deaths': '4,510                                ', 'Total Recovered': '2,402,490', 'Active Cases': '6,279'}, {'Country': 'Hungary', 'Total Cases': '2,203,129', 'Total Deaths': '48,881                                ', 'Total Recovered': '2,152,155', 'Active Cases': '2,093'}, {'Country': 'Bangladesh', 'Total Cases': '2,041,623', 'Total Deaths': '29,457                                ', 'Total Recovered': '1,998,448', 'Active Cases': '13,718'}, {'Country': 'Georgia', 'Total Cases': '1,844,789', 'Total Deaths': '17,092                                ', 'Total Recovered': '1,776,548', 'Active Cases': '51,149'}, {'Country': 'Jordan', 'Total Cases': '1,746,997', 'Total Deaths': '14,122                                ', 'Total Recovered': '1,731,007', 'Active Cases': '1,868'}, {'Country': 'Ireland', 'Total Cases': '1,713,613', 'Total Deaths': '9,058                                ', 'Total Recovered': '1,703,055', 'Active Cases': '1,500'}, {'Country': 'Pakistan', 'Total Cases': '1,581,155', 'Total Deaths': '30,661                                ', 'Total Recovered': '1,538,689', 'Active Cases': '11,805'}, {'Country': 'Norway', 'Total Cases': '1,485,627', 'Total Deaths': '5,566                                ', 'Total Recovered': '1,479,575', 'Active Cases': '486'}, {'Country': 'Finland', 'Total Cases': '1,481,994', 'Total Deaths': '9,921                                ', 'Total Recovered': '1,470,602', 'Active Cases': '1,471'}, {'Country': 'Kazakhstan', 'Total Cases': '1,411,831', 'Total Deaths': '13,848                                ', 'Total Recovered': '1,383,020', 'Active Cases': '14,963'}, {'Country': 'Slovenia', 'Total Cases': '1,344,227', 'Total Deaths': '7,100                                ', 'Total Recovered': '1,328,006', 'Active Cases': '9,121'}, {'Country': 'Lithuania', 'Total Cases': '1,321,288', 'Total Deaths': '9,691                                ', 'Total Recovered': '1,311,048', 'Active Cases': '549'}, {'Country': 'Bulgaria', 'Total Cases': '1,308,890', 'Total Deaths': '38,421                                ', 'Total Recovered': '1,268,729', 'Active Cases': '1,740'}, {'Country': 'Morocco', 'Total Cases': '1,274,180', 'Total Deaths': '16,297                                ', 'Total Recovered': '1,256,151', 'Active Cases': '1,732'}, {'Country': 'Croatia', 'Total Cases': '1,273,959', 'Total Deaths': '18,269                                ', 'Total Recovered': '1,255,516', 'Active Cases': '174'}, {'Country': 'Guatemala', 'Total Cases': '1,259,507', 'Total Deaths': '20,205                                ', 'Total Recovered': '1,234,101', 'Active Cases': '5,201'}, {'Country': 'Lebanon', 'Total Cases': '1,238,552', 'Total Deaths': '10,936                                ', 'Total Recovered': '1,087,587', 'Active Cases': '140,029'}, {'Country': 'Costa Rica', 'Total Cases': '1,235,156', 'Total Deaths': '9,384                                ', 'Total Recovered': '860,711', 'Active Cases': '365,061'}, {'Country': 'Bolivia', 'Total Cases': '1,202,710', 'Total Deaths': '22,390                                ', 'Total Recovered': '1,170,968', 'Active Cases': '9,352'}, {'Country': 'Tunisia', 'Total Cases': '1,153,361', 'Total Deaths': '29,423                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'Cuba', 'Total Cases': '1,114,763', 'Total Deaths': '8,530                                ', 'Total Recovered': '1,106,105', 'Active Cases': '128'}, {'Country': 'UAE', 'Total Cases': '1,067,030', 'Total Deaths': '2,349                                ', 'Total Recovered': '1,054,525', 'Active Cases': '10,156'}, {'Country': 'Panama', 'Total Cases': '1,042,631', 'Total Deaths': '8,634                                ', 'Total Recovered': '1,032,845', 'Active Cases': '1,152'}, {'Country': 'Uruguay', 'Total Cases': '1,038,774', 'Total Deaths': '7,634                                ', 'Total Recovered': '1,030,944', 'Active Cases': '196'}, {'Country': 'Nepal', 'Total Cases': '1,003,361', 'Total Deaths': '12,031                                ', 'Total Recovered': '991,322', 'Active Cases': '8'}, {'Country': 'Belarus', 'Total Cases': '994,037', 'Total Deaths': '7,118                                ', 'Total Recovered': '985,592', 'Active Cases': '1,327'}, {'Country': 'Latvia', 'Total Cases': '978,157', 'Total Deaths': '6,386                                ', 'Total Recovered': '971,406', 'Active Cases': '365'}, {'Country': 'Saudi Arabia', 'Total Cases': '841,469', 'Total Deaths': '9,646                                ', 'Total Recovered': '827,923', 'Active Cases': '3,900'}, {'Country': 'Azerbaijan', 'Total Cases': '831,934', 'Total Deaths': '10,282                                ', 'Total Recovered': '821,621', 'Active Cases': '31'}, {'Country': 'Paraguay', 'Total Cases': '811,307', 'Total Deaths': '19,965                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'Bahrain', 'Total Cases': '722,395', 'Total Deaths': '1,566                                ', 'Total Recovered': '720,745', 'Active Cases': '84'}, {'Country': 'Sri Lanka', 'Total Cases': '672,534', 'Total Deaths': '16,877                                ', 'Total Recovered': '655,653', 'Active Cases': '4'}, {'Country': 'Kuwait', 'Total Cases': '665,967', 'Total Deaths': '2,570                                ', 'Total Recovered': '660,237', 'Active Cases': '3,160'}, {'Country': 'Dominican Republic', 'Total Cases': '661,596', 'Total Deaths': '4,384                                ', 'Total Recovered': '644,785', 'Active Cases': '12,427'}, {'Country': 'Myanmar', 'Total Cases': '639,740', 'Total Deaths': '19,494                                ', 'Total Recovered': '618,738', 'Active Cases': '1,508'}, {'Country': 'Palestine', 'Total Cases': '621,008', 'Total Deaths': '5,404                                ', 'Total Recovered': '615,445', 'Active Cases': '159'}, {'Country': 'Moldova', 'Total Cases': '620,685', 'Total Deaths': '12,124                                ', 'Total Recovered': '504,142', 'Active Cases': '104,419'}, {'Country': 'Estonia', 'Total Cases': '619,210', 'Total Deaths': '3,001                                ', 'Total Recovered': '524,990', 'Active Cases': '91,219'}, {'Country': 'Venezuela', 'Total Cases': '552,695', 'Total Deaths': '5,856                                ', 'Total Recovered': '546,537', 'Active Cases': '302'}, {'Country': 'Egypt', 'Total Cases': '516,023', 'Total Deaths': '24,613                                ', 'Total Recovered': '442,182', 'Active Cases': '49,228'}, {'Country': 'Qatar', 'Total Cases': '514,524', 'Total Deaths': '690                                ', 'Total Recovered': '513,687', 'Active Cases': '147'}, {'Country': 'Libya', 'Total Cases': '507,266', 'Total Deaths': '6,437                                ', 'Total Recovered': '500,827', 'Active Cases': '2'}, {'Country': 'Ethiopia', 'Total Cases': '500,920', 'Total Deaths': '7,574                                ', 'Total Recovered': '488,153', 'Active Cases': '5,193'}, {'Country': 'R√©union', 'Total Cases': '486,588', 'Total Deaths': '921                                ', 'Total Recovered': '418,572', 'Active Cases': '67,095'}, {'Country': 'Honduras', 'Total Cases': '472,619', 'Total Deaths': '11,116                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'Armenia', 'Total Cases': '449,222', 'Total Deaths': '8,750                                ', 'Total Recovered': '435,162', 'Active Cases': '5,310'}, {'Country': 'Bosnia and Herzegovina', 'Total Cases': '403,041', 'Total Deaths': '16,350                                ', 'Total Recovered': '379,084', 'Active Cases': '7,607'}, {'Country': 'Oman', 'Total Cases': '399,449', 'Total Deaths': '4,628                                ', 'Total Recovered': '384,669', 'Active Cases': '10,152'}, {'Country': 'North Macedonia', 'Total Cases': '348,281', 'Total Deaths': '9,677                                ', 'Total Recovered': '337,068', 'Active Cases': '1,536'}, {'Country': 'Zambia', 'Total Cases': '347,022', 'Total Deaths': '4,062                                ', 'Total Recovered': '341,316', 'Active Cases': '1,644'}, {'Country': 'Kenya', 'Total Cases': '343,537', 'Total Deaths': '5,689                                ', 'Total Recovered': '337,309', 'Active Cases': '539'}, {'Country': 'Albania', 'Total Cases': '334,726', 'Total Deaths': '3,602                                ', 'Total Recovered': '329,428', 'Active Cases': '1,696'}, {'Country': 'Botswana', 'Total Cases': '329,985', 'Total Deaths': '2,801                                ', 'Total Recovered': '327,049', 'Active Cases': '135'}, {'Country': 'Luxembourg', 'Total Cases': '319,959', 'Total Deaths': '1,232                                ', 'Total Recovered': '316,690', 'Active Cases': '2,037'}, {'Country': 'Brunei ', 'Total Cases': '308,777', 'Total Deaths': '225                                ', 'Total Recovered': '243,601', 'Active Cases': '64,951'}, {'Country': 'Montenegro', 'Total Cases': '291,928', 'Total Deaths': '2,828                                ', 'Total Recovered': '288,639', 'Active Cases': '461'}, {'Country': 'Algeria', 'Total Cases': '271,852', 'Total Deaths': '6,881                                ', 'Total Recovered': '183,060', 'Active Cases': '81,911'}, {'Country': 'Nigeria', 'Total Cases': '266,675', 'Total Deaths': '3,155                                ', 'Total Recovered': '259,953', 'Active Cases': '3,567'}, {'Country': 'Zimbabwe', 'Total Cases': '265,413', 'Total Deaths': '5,707                                ', 'Total Recovered': '258,888', 'Active Cases': '818'}, {'Country': 'Uzbekistan', 'Total Cases': '253,662', 'Total Deaths': '1,637                                ', 'Total Recovered': '241,486', 'Active Cases': '10,539'}, {'Country': 'Mozambique', 'Total Cases': '233,417', 'Total Deaths': '2,243                                ', 'Total Recovered': '228,805', 'Active Cases': '2,369'}, {'Country': 'Martinique', 'Total Cases': '229,975', 'Total Deaths': '1,102                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'Afghanistan', 'Total Cases': '223,212', 'Total Deaths': '7,928                                ', 'Total Recovered': '202,901', 'Active Cases': '12,383'}, {'Country': 'Laos', 'Total Cases': '218,422', 'Total Deaths': '758                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'Iceland', 'Total Cases': '209,191', 'Total Deaths': '229                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'Kyrgyzstan', 'Total Cases': '206,897', 'Total Deaths': '2,991                                ', 'Total Recovered': '196,406', 'Active Cases': '7,500'}, {'Country': 'Guadeloupe', 'Total Cases': '202,836', 'Total Deaths': '1,017                                ', 'Total Recovered': 'N/A', 'Active Cases': 'N/A'}, {'Country': 'El Salvador', 'Total Cases': '201,785', 'Total Deaths': '4,230                                ', 'Total Recovered': '179,410', 'Active Cases': '18,145'}, {'Country': 'Trinidad and Tobago', 'Total Cases': '191,496', 'Total Deaths': '4,390                                ', 'Total Recovered': '187,078', 'Active Cases': '28'}, {'Country': 'Maldives', 'Total Cases': '186,683', 'Total Deaths': '316                                ', 'Total Recovered': '163,687', 'Active Cases': '22,680'}, {'Country': 'Ghana', 'Total Cases': '171,657', 'Total Deaths': '1,462                                ', 'Total Recovered': '170,161', 'Active Cases': '34'}, {'Country': 'Namibia', 'Total Cases': '171,310', 'Total Deaths': '4,091                                ', 'Total Recovered': '167,099', 'Active Cases': '120'}, {'Country': 'Uganda', 'Total Cases': '170,775', 'Total Deaths': '3,632                                ', 'Total Recovered': '100,431', 'Active Cases': '66,712'}, {'Country': 'Jamaica', 'Total Cases': '155,169', 'Total Deaths': '3,555                                ', 'Total Recovered': '102,992', 'Active Cases': '48,622'}, {'Country': 'Cambodia', 'Total Cases': '138,897', 'Total Deaths': '3,056                                ', 'Total Recovered': '135,825', 'Active Cases': '16'}, {'Country': 'Rwanda', 'Total Cases': '133,194', 'Total Deaths': '1,468                                ', 'Total Recovered': '131,647', 'Active Cases': '79'}, {'Country': 'Cameroon', 'Total Cases': '125,087', 'Total Deaths': '1,974                                ', 'Total Recovered': '122,807', 'Active Cases': '306'}, {'Country': 'Malta', 'Total Cases': '118,918', 'Total Deaths': '841                                ', 'Total Recovered': '117,542', 'Active Cases': '535'}, {'Country': 'Barbados', 'Total Cases': '107,794', 'Total Deaths': '593                                ', 'Total Recovered': '106,971', 'Active Cases': '230'}, {'Country': 'Angola', 'Total Cases': '105,384', 'Total Deaths': '1,934                                ', 'Total Recovered': '103,419', 'Active Cases': '31'}, {'Country': 'Channel Islands', 'Total Cases': '101,717', 'Total Deaths': '228                                ', 'Total Recovered': '101,321', 'Active Cases': '168'}, {'Country': 'French Guiana', 'Total Cases': '98,041', 'Total Deaths': '420                                ', 'Total Recovered': '11,254', 'Active Cases': '86,367'}, {'Country': 'DRC', 'Total Cases': '97,409', 'Total Death

In [ ]:
df = pd.DataFrame(table)

In [ ]:
df

,Country,Total Cases,Total Deaths,Total Recovered,Active Cases
0,India,"44,993,999","531,903","44,460,441","1,655"
1,France,"40,133,307","167,616","39,931,240","34,451"
2,Germany,"38,428,685","174,352","38,240,600","13,733"
3,Brazil,"37,655,917","703,719","36,249,161","703,037"
4,Japan,"33,803,572","74,694",N/A,N/A
...,...,...,...,...,...
203,Wallis and Futuna,"3,550",8,438,"3,104"
204,Saint Pierre Miquelon,"3,452",2,"2,449","1,001"
205,Tuvalu,"2,943",1,,"2,942"
206,Saint Helena,"2,166",,2,"2,164"
207,Montserrat,"1,403",8,"1,376",19